.button {
    height: 30px;

    font-size: 16px;
    line-height: 29px;
    color: #fff;

    outline: none;
    border-radius: 2px;
    border: none;
}

.button:hover {
    color: rgba(255, 255, 255, 0.9);

    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.button._theme_light {
    background: linear-gradient(to bottom, #37a5d4 0%, #37a5d4 50%, #0491c5 50%);
}

.button._theme_dark {
    background: linear-gradient(to bottom, #3581a1 0%, #3581a1 50%, #03608a 50%);
}
